@model COMP1640_IdeaManagement.Models.IdeaVote

@{
    ViewData["Title"] = "IdeaVotes Create";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>IdeaVote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdeaId" class="control-label"></label>
                <select asp-for="IdeaId" class="form-control" asp-items="ViewBag.IdeaId"></select>
            </div>
            <div>
                <input type="checkbox" id="IsLike" name="IsLike" value="True" checked>
                <label asp-for="IsLike">Like</label>
            </div>
            <div>
                <input type="checkbox" id="IsDislike" name="IsDislike" value="True" checked>
                <label asp-for="IsDislike">DisLike</label>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
