@model COMP1640_IdeaManagement.Models.Mission

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h4 class="font-weight-bold text-center mt-2">Mission</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OpenDate" class="control-label"></label>
                    <input asp-for="OpenDate" class="form-control" />
                    <span asp-validation-for="OpenDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClosureDate" class="control-label"></label>
                    <input asp-for="ClosureDate" class="form-control" />
                    <span asp-validation-for="ClosureDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AcademicYearId" class="control-label"></label>
                    <select asp-for="AcademicYearId" class="form-control" asp-items="ViewBag.AcademicYearId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
