<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - COMP1640_IdeaManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"/>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid ">
                <a class="navbar-brand font-weight-bold" asp-a accesskeyrea="" asp-controller="Home" asp-action="Index">IDEA Management</a>
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                    </a>

                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a class="nav-link px-2 text-secondary" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a class="nav-link px-2 text-secondary" asp-controller="Admins" asp-action="Seeder">Update Data</a></li>
                        @if (User.IsInRole("QA Coordinator"))
                        {
                            <li><a class="nav-link px-2 text-secondary" asp-controller="Categories" asp-action="Index">Category</a></li>
                            <li><a class="nav-link px-2 text-secondary" asp-controller="Ideas" asp-action="Index">Idea</a></li>
                            <li><a class="nav-link px-2 text-secondary" asp-controller="Ideas" asp-action="AllFiles">Files</a></li>
                        }
                        @if (User.IsInRole("Administrator"))
                        {
                            <li><a class="nav-link px-2 text-secondary" asp-controller="Admins" asp-action="Index">Account</a></li>
                            <li><a class="nav-link px-2 text-secondary" asp-controller="Roles" asp-action="Index">Role</a></li>
                            <li><a class="nav-link px-2 text-secondary" asp-controller="AcademicYears" asp-action="Index">Academic</a></li>
                        }

                    </ul>

                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                    </form>

                    <div class="d-flex p-2">
                        <partial name="_LoginPartial" />
                        
                    </div>
                    
                </div>
            </div>
         </nav>
    </header>
    




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - COMP1640_IdeaManagement - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
