@model IEnumerable<COMP1640_IdeaManagement.Models.Idea>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet"
          href="../contrast-bootstrap-pro/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="../contrast-bootstrap-pro/css/cdb.css" />
    <script src="../contrast-bootstrap-pro/js/cdb.js"></script>
    <script src="../contrast-bootstrap-pro/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/9d1d9a82d2.js"
            crossorigin="anonymous"></script>

    <title>How to create bootstrap charts using bootstrap 5</title>
</head>
<style>
    .chart-container {
        width: 100%;
        height: 100%;
        margin: auto;
    }
</style>

<body>
    <!--Chart line-->
    <div class="card chart-container">
        <canvas id="chart"></canvas>
    </div>

    <!--<table class="table border ">
        <thead>
            <tr>
                <th class="border-right">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td class="border-right">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
            </tr>
            }
        </tbody>
    </table>-->
    <!--Chart ideas-->

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js">
</script>
<script>
    const ctx = document.getElementById("chart").getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["sunday", "monday", "tuesday",
                "wednesday", "thursday", "friday", "saturday"],
            datasets: [{
                label: 'Like vs Dislike',
                backgroundColor: 'rgba(161, 198, 247, 1)',
                borderColor: 'rgb(47, 128, 237)',
                data: [3000, 4000, 2000, 5000, 8000, 9000, 2000],
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                    }
                }]
            }
        },
    });

</script>

</html> 