@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Admin";
}


<h2 class="font-weight-bold text-center mt-2">Admin page</h2>

<div class="container">
    <div class="d-flex flex-row">
        <a class="btn btn-primary text-white p-2 m-2" asp-area="" asp-controller="AcademicYears" asp-action="Index">AcademicYears manage</a>
        <a class="btn btn-info text-white p-2 m-2" asp-area="" asp-controller="Categories" asp-action="Index">Categories manage</a>
        <a class="btn btn-success text-white p-2 m-2" asp-area="" asp-controller="Ideas" asp-action="Index">Ideas manage</a>
        <a class="btn btn-warning text-white p-2 m-2" asp-area="" asp-controller="Missions" asp-action="Index">Mission manage</a>
        <a class="btn btn-warning text-white p-2 m-2" asp-area="" asp-controller="Admins" asp-action="chart">Dashboard</a>
    </div>
    
   
</div>