@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>
@inject RoleManager<IdentityRole> RoleManager


@{
    ViewData["Title"] = "Admin";
}



<h2 class="font-weight-bold text-center mt-2">Account Manage</h2>

<div class="container">
    <div class="d-flex flex-row">

    </div>
    <table class="table border mt-4">
        <thead>
            <tr>
                <th class="border-right">
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="border-right">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        <a class="btn btn-info" asp-controller="Admins" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a class="btn btn-danger" asp-controller="Admins" asp-action="Delete" asp-route-id="@item.Id">Delete</a>                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-between">
        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Create new account</a>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back</a>
    </div>
    
</div>