


<div class="form-group">
    @Html.ActionLink("Back to Home", "ListIdea", "AcademicYear", null, new { @class = "btn btn-default" })
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="IdeaList">Title</a>
            </th>
            <th>
                <h3>Title</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h3>Title</h3>
            </td>

        </tr>
    </tbody>
</table>