@model IEnumerable<COMP1640_IdeaManagement.Models.Idea> 
@{
    ViewBag.Title = "List";
}


<h2>List Idea</h2>

<div class="form-group">
    @Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-default" })
</div>

<div class="form-group">
    @Html.ActionLink("Create", "CreateIdea", "AcademicYear", null, new { @class = "btn btn-success" })
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index">Title</a>
            </th>
            <th>
                <h3>Title</h3>
            </th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    <h3>Title</h3>
                </td>
                <td>
                    <h3>Content</h3>
                </td>
                <td>
                    <a asp-action="UpdateIdea" asp-controller="AcademicYear" asp-route-id="">Edit</a> |
                    <a asp-action="DetailIdea" asp-controller="AcademicYear" asp-route-id="">Details</a> |
                    <a asp-action="DeleteIdea" asp-controller="AcademicYear" asp-route-id="">Delete</a>
                </td>
            </tr>
    </tbody>
</table>